/* 
Layout of the About pag
*/

.container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
   
}

body {  
    /* https://www.w3schools.com/htmL/html_images_background.asp */
    background-image: url('../assets/notebookLines.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;

    background-color: rgb(255, 245, 202);
    color: rgb(2, 2, 77);
    padding: 0px;
    margin: 0px;
    margin-left: 12%;
    margin-top: -10px;
    max-width: 700px;
    min-height: 1000px;
}

h1, h2, label {
    font-family: blockhead-black-face, sans-serif;
    font-style: normal;
    font-weight: 400;
    justify-content: center;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}
p {
    font-family: klee-one, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
}

nav {
    margin-top: 20px;
}

#thrashing {
    background-color: rgb(255, 244, 158);
    box-shadow: 5px 8px 5px rgba(156, 114, 0, 0.551);
    margin-top: 20px;
    margin-left: -3px;
    margin-bottom: 20px;
    padding: 15px;
    max-width: 630px;
}

#author {
    font-family: blockhead-black-face, sans-serif;
    font-style: normal;
    font-weight: 400;
    justify-content: center;
    font-size: 16px;
}

#toMain {
    position: fixed;
    left: 1%;
    top: 1%;
    font-family: blockhead-black-face, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
}

#toMain:hover {
    font-size: 20px;
}